<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/alligator-22.11.tar.xz">alligator-22.11</a></td>
   <td align="right">181kB</td>
   <td><tt>54330ffaa8680519c43d6b9cbb48ae839198fd606f71e36b3878fa5dab200f0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/angelfish-22.11.tar.xz">angelfish-22.11</a></td>
   <td align="right">175kB</td>
   <td><tt>3e69ab543fe7bc8a4faf23176b79d0002a36c9f7d8ccffe170301f860c31f71d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/audiotube-22.11.tar.xz">audiotube-22.11</a></td>
   <td align="right">76kB</td>
   <td><tt>7884d6879f9615ee0f743d50cc5ee43409fac79953009b739121d1b4d153473d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/calindori-22.11.tar.xz">calindori-22.11</a></td>
   <td align="right">371kB</td>
   <td><tt>ac2cd82ccfed3ee3970005eb0296413a383db98a4a603539bb4bdafa8369edd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/kalk-22.11.tar.xz">kalk-22.11</a></td>
   <td align="right">78kB</td>
   <td><tt>38b67e175cb629c0fe338e88485e5a912c618d9ff0526097e13690510a492366</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/kasts-22.11.tar.xz">kasts-22.11</a></td>
   <td align="right">483kB</td>
   <td><tt>2912b4a8864e35a7dadc16b9368988b6163870a0358e020c3b80b31222002711</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/kclock-22.11.tar.xz">kclock-22.11</a></td>
   <td align="right">704kB</td>
   <td><tt>a48c8eb50af485bb12d872be7674ed56e3887b4619b47438c1e385bddc27660b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/keysmith-22.11.tar.xz">keysmith-22.11</a></td>
   <td align="right">155kB</td>
   <td><tt>65365cf3ec639d092206dbf1db0079c423a94cde5d59a917b3db0334f9d335aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/khealthcertificate-22.11.tar.xz">khealthcertificate-22.11</a></td>
   <td align="right">359kB</td>
   <td><tt>11028b1ef2e7e99a77ba156388da9facdde836310b49b7c3726b5b30c191863f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/koko-22.11.tar.xz">koko-22.11</a></td>
   <td align="right">130kB</td>
   <td><tt>7b1dc3a26c9f78c03c0c572e7741b800492ec8896cdb26e36af7faab539312cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/kongress-22.11.tar.xz">kongress-22.11</a></td>
   <td align="right">573kB</td>
   <td><tt>aba9b0b2f8060b31e338ef9f4707ed7ee88fbf07cfece2065583f69d26eb280f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/krecorder-22.11.tar.xz">krecorder-22.11</a></td>
   <td align="right">153kB</td>
   <td><tt>8b834257fca41b24aaa860195cbbb25e23f76d4641c224b53e8c03162e8331f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/ktrip-22.11.tar.xz">ktrip-22.11</a></td>
   <td align="right">246kB</td>
   <td><tt>c7eb0b95203204bb54be026fcaa9c7216b5287c77e11cf35ec1108796572b21e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/kweather-22.11.tar.xz">kweather-22.11</a></td>
   <td align="right">994kB</td>
   <td><tt>b4d931e87dc9b2a54480de80634cc67d6d4cea03d29aae9e9279c3723d390c6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/neochat-22.11.tar.xz">neochat-22.11</a></td>
   <td align="right">454kB</td>
   <td><tt>25362be430c930ff6d964a69a19b49d53043c2789a34893c61ab00ce619ad0be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/plasma-dialer-22.11.tar.xz">plasma-dialer-22.11</a></td>
   <td align="right">108kB</td>
   <td><tt>be195aa0a48808ddd8ffdeeee2779f0964989176dc522fc5cafa7eed76eda7e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/plasma-phonebook-22.11.tar.xz">plasma-phonebook-22.11</a></td>
   <td align="right">204kB</td>
   <td><tt>9e7ec588cf0f0543104ea0ac8c4f222861629324d58dc480ef71188ec236520b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/plasma-settings-22.11.tar.xz">plasma-settings-22.11</a></td>
   <td align="right">302kB</td>
   <td><tt>b2e01bd415dd20872281f636496d1db617a5b84e5e6dc63b9f9fd8c5e80de75d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/plasmatube-22.11.tar.xz">plasmatube-22.11</a></td>
   <td align="right">56kB</td>
   <td><tt>34caca915e52dc34918de00757602e8ac85b4b214e5a96a49a21514fb8dffd6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/qmlkonsole-22.11.tar.xz">qmlkonsole-22.11</a></td>
   <td align="right">60kB</td>
   <td><tt>b1c06c33cebb0c7a5736449e11b6bb569ba599d1b1290b788bfeac6c68f61c0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/spacebar-22.11.tar.xz">spacebar-22.11</a></td>
   <td align="right">106kB</td>
   <td><tt>650766e160ecd65028e1765656489a7b8faebeda974ccf5388e547adb7f316e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/telly-skout-22.11.tar.xz">telly-skout-22.11</a></td>
   <td align="right">73kB</td>
   <td><tt>ddd8cf9710995dfe9e0d8760eecf2e4c6466cfc6d3e3d1ca2762332e898acd69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/tokodon-22.11.tar.xz">tokodon-22.11</a></td>
   <td align="right">151kB</td>
   <td><tt>a9c4c953575d7f41686b7fa37bc8401e7afa064e5807947107efcd1560c4d929</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/22.11/vakzination-22.11.tar.xz">vakzination-22.11</a></td>
   <td align="right">52kB</td>
   <td><tt>66d6990e61284f3321b354118b1e7bac9b51fd44ca3500be1d90829d70b90715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/0.6/kirigami-addons-0.6.tar.xz">kirigami-addons-0.6</a></td>
   <td align="right">81kB</td>
   <td><tt>2fc18d25ad684d5fec260b872c3320068290c59abab50e26a61811ca8bd5882f</tt></td>
</tr>

</table>
