<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/alligator-22.04.tar.xz">alligator-22.04</a></td>
   <td align="right">174kB</td>
   <td><tt>8ce3584356a8bec079deba9126d47f25401239572e34d42da6fe644cbc025ab8</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/angelfish-22.04.tar.xz">angelfish-22.04</a></td>
   <td align="right">135kB</td>
   <td><tt>0a2f4dcb0b2c410a95645abb46e84567c3c63633e87e69e3489a7557fd842b99</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/audiotube-22.04.tar.xz">audiotube-22.04</a></td>
   <td align="right">55kB</td>
   <td><tt>5d6861aa8089e7bc73a52e8dff3a7d55ae15a81ee3ad4c58094ca5f11dad3d75</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/calindori-22.04.tar.xz">calindori-22.04</a></td>
   <td align="right">224kB</td>
   <td><tt>c06cd79cc13ffbea82c12b913c5ef401efdd50aabb3b5abd0743f44c1d8536fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/kalk-22.04.tar.xz">kalk-22.04</a></td>
   <td align="right">71kB</td>
   <td><tt>e8aafd63a918e0f31064b082460c38215affe9c356fee9b8ba1ecf29cf625829</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/kasts-22.04.tar.xz">kasts-22.04</a></td>
   <td align="right">429kB</td>
   <td><tt>50d3d3215c582eca3395ffe26a054c00b7bb83803499ab4688f25013c1e5c030</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/kclock-22.04.tar.xz">kclock-22.04</a></td>
   <td align="right">686kB</td>
   <td><tt>66367c04c939b8d3ab5b35e82ea32f9d5379dc07e8bda6dcaf78b4e60bb294f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/keysmith-22.04.tar.xz">keysmith-22.04</a></td>
   <td align="right">153kB</td>
   <td><tt>9122320da1281a5e0ee5b64dc585b59156deb9078cae41cb81d456205026a133</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/khealthcertificate-22.04.tar.xz">khealthcertificate-22.04</a></td>
   <td align="right">262kB</td>
   <td><tt>adf84316372c2a7966248c02353d4f08542e805782e661bc5c6c5441e204296b</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/koko-22.04.tar.xz">koko-22.04</a></td>
   <td align="right">131kB</td>
   <td><tt>9c0500954a721f0206a0ded46a8f63f8b1f333f7f6e825646d1cb7c2f2129044</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/kongress-22.04.tar.xz">kongress-22.04</a></td>
   <td align="right">420kB</td>
   <td><tt>adfbc897ce3c0759820d47b4407f4238cda169e32c9f0f280ff5d0de1a44cb1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/krecorder-22.04.tar.xz">krecorder-22.04</a></td>
   <td align="right">143kB</td>
   <td><tt>ef9674bfa2d28ce28a6259bbeafe6629073374af344bc88d7c846f7510def634</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/ktrip-22.04.tar.xz">ktrip-22.04</a></td>
   <td align="right">243kB</td>
   <td><tt>3d5944ee485cb1ba519c1617100c12cc7ed9306a237ba52ca12211d6550a5ec6</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/kweather-22.04.tar.xz">kweather-22.04</a></td>
   <td align="right">979kB</td>
   <td><tt>adace6873909ec5e65528580ec94059a52a3f290e21ba7cb686428df00a00001</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/neochat-22.04.tar.xz">neochat-22.04</a></td>
   <td align="right">325kB</td>
   <td><tt>a836995ec04307864a8023e0dc03d637ff2db89e75948eb85252262e8a9d2112</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/plasma-dialer-22.04.tar.xz">plasma-dialer-22.04</a></td>
   <td align="right">92kB</td>
   <td><tt>e4891e82ff0e08740beff12b205076f018bffd8d3a42a8a6e7f4ea6ba456dd42</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/plasma-phonebook-22.04.tar.xz">plasma-phonebook-22.04</a></td>
   <td align="right">203kB</td>
   <td><tt>292686d46e5460d5ce8a192720843569cd63dbc48a4d10d652cf3896ba17cd92</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/plasma-settings-22.04.tar.xz">plasma-settings-22.04</a></td>
   <td align="right">285kB</td>
   <td><tt>deee20b21f597ba0feade1991340a3243c2cc6791386acb20e32de19e3ae80cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/plasmatube-22.04.tar.xz">plasmatube-22.04</a></td>
   <td align="right">50kB</td>
   <td><tt>dd33c4294f2f884925ca73d9b68a1024a8c3646b13e822090a95320560eb7505</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/qmlkonsole-22.04.1.tar.xz">qmlkonsole-22.04.1</a></td>
   <td align="right">39kB</td>
   <td><tt>5c5df92cbccc9d5f4677001f58bdd0b96a529fd676a459348c4fa7a714ceee1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/spacebar-22.04.tar.xz">spacebar-22.04</a></td>
   <td align="right">96kB</td>
   <td><tt>458fbe13e186ccabd94b9f5edf12d895a595106a8b8854a32a38b7adaad7433d</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/tokodon-22.04.tar.xz">tokodon-22.04</a></td>
   <td align="right">106kB</td>
   <td><tt>82dbcd7f76eb186ec72f0daa36d2a2627bd7b5b1ace4f246ed870008ba123831</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.04/vakzination-22.04.tar.xz">vakzination-22.04</a></td>
   <td align="right">50kB</td>
   <td><tt>c85552cde2bf2eb7662a4ef5745f0909064da594bc9965dbe2f777c2fff34d7d</tt></td>
</tr>

</table>
